.main{
    width: 1000px;
    height: 900px;
    margin-left: 450px;
    border: 3px solid black;
}
.logo{
    margin-left: 400px;
    margin-top: -490px;
    width: 250px;
}
.head{
    margin-top: -10px;
    
}
.car{
    width: 700px;
    margin-top: 120px;
    margin-left: 500px;
}
.for{
    margin-top: -180px;
}
.heading{
    margin-top: -800px;
    margin-left: 900px;
}
.h1{
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(247, 243, 243);
}